* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f0f0ef;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between
}

header {
    background-color: #456fdc;
    color: #fff;
    padding: 8px 0;
}

header h1 {
    font-style: italic;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 24px;
    padding: 0;
    list-style: none;
}

nav ul li {
    font-weight: bold;
    font-size: 16px;
    padding: 8px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}

nav ul li a:hover {
    opacity: 0.75;
}

section {
    margin: 40px 0;
}

.aboutGrid {
    display: grid;
    grid-template-columns: repeat(2, 38.5% 58.5%);
    gap: 2%;
}

.imagemLoja img {
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    height: 280px;
    width: 100%;
}

section h2 {
    margin-bottom: 32px;
    padding-bottom: 16px;
    border-bottom: 2px solid #456fdc;
    color: #456fdc;
    font-style: italic;
}

section p {
    text-align: justify;
}

.tenis {
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
    row-gap: 5%;
}

.cardProduto {
    display: block;

}

.cardProduto img {
    height: 180px;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 8px;
}

.cardProduto h3 {
    padding-bottom: 24px;
}

.cardProduto p {
    font-size: 0.85em;
    padding-bottom: 16px;
    text-align: left;
}

.cardProduto button {
    padding: 8px;
    width: 100%;
    border: none;
    background-color: #456fdc;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.cardProduto button:hover {
    opacity: 0.75;
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    section {
        font-size: 1.5em;
    }
    
    .aboutGrid {
        display: block;
    }

    .aboutGrid img {
        margin-bottom: 24px;
    }

    .tenis {
    display: grid;
    grid-template-columns: repeat(2, 49.5%);
    gap: 1%;
    row-gap: 5%;
    }

    .cardProduto button {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 640px) {
    .container {
        max-width: 90%;
        display: block;
    }

    section {
        font-size: 1.5em;
    }

    nav ul {
        display: block;
    }

    .tenis {
        display: block;
    }

    .cardProduto {
        margin: 52px 0;
    }

    .cardProduto button {
        font-size: 0.75em;
    }
}